<%= javascript_pack_tag "calendar" %>

<%= link_to "Admin sign in", new_administrator_session_path %>

<% if current_administrator %>
  <p><%= current_administrator.email %></p>
<% end %>

<h1 class="title">Calendar</h1>

<br>

<div class="calendar-container">
  <%= Calendar.new.show_calendar %>
</div>
