@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

.calendar-container {
  background-color: rgb(246, 246, 246);
  color: black;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  grid-template-rows: auto;
}

.calendar-title {
  text-align: center;
}

.calendar-dates {
  border-collapse: collapse;
}

.calendar-monthContainer {
  font-family: 'Ubuntu', sans-serif;
  background-color: rgb(255, 255, 255);
  border: solid 1px rgb(180, 180, 180);
  padding: 1rem;
  border-radius: 8px;
  display: inline-block;
  box-sizing: border-box;
}

.calendar-days {
  text-align: center;
  padding: 4px;
  height: 30px;
  display: inline-block;
  width: 14.2%;
  box-sizing: border-box;
  font-weight: 800;
}

.calendar-monthContainer td {
  text-align: center;
  padding: 4px;
  height: 30px;
  width: 30px;
}

.calendar-monthContainer .selected {
  background-color: rgb(255, 208, 0);
  color: black;
  border-radius: 9px;
}

.calendar-monthContainer .available {
  background-color: rgb(97, 97, 97);
  cursor: pointer;
}

.calendar-numberContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.calendar-numberContainer div {
  display: inline-block;
  text-align: center;
  padding: 7px;
  box-sizing: border-box;
  border: solid 1px grey;
  min-height: 3vw;
  position: relative;
}

.past::after {
  content: "X";
  font-size: 2.5vw;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  color: rgba(255,0,0,0.4);
}

.today {
  background-color: rgb(231, 231, 231);
}

@media screen and (min-width: 750px) {
  .calendar-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1300px) {
  .calendar-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 2000px) {
  .calendar-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 2500px) {
  .calendar-container {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 2800px) {
  .calendar-container {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}
